.container.appMsgConfirmContainer {
	width: 350px;
}

.appMsgConfirmContainer .panel {
	border: none;
}

.appMsgConfirmContainer.verticalAlignmentHelper {
	display: table;
	height: 100%;
}

.appMsgConfirmContainer .verticalAlignCenter {
	/* To center vertically */
	display: table-cell;
	vertical-align: middle;
}


.container.appMsgConfirmContainerBigger {
	width: 400px;
}


.appMsgConfirmContainerBigger .panel {
	border: none;
}

.appMsgConfirmContainerBigger.verticalAlignmentHelper {
	display: table;
	height: 100%;
}

.appMsgConfirmContainerBigger .verticalAlignCenter {
	/* To center vertically */
	display: table-cell;
	vertical-align: middle;
}

.contenedor-app fieldset {
	border: 1px solid #bce8f1 !important;
	border-radius: 4px;
	padding: 15px 15px 15px 15px !important;
	margin: 4px 0 8px 0 !important;
	-webkit-box-shadow:  0px 0px 0px 0px #bce8f1;
	box-shadow:  0px 0px 0px 0px #bce8f1;
}

.contenedor-app legend {
	font-size: 12px !important;
	font-weight: bold !important;
	text-align: left !important;
	color: #31708f;
	width: inherit; /* Or auto */
	padding: 0 10px; /* To give a bit of padding on the left and right */
	border-bottom: none;
	margin-bottom: 5px;
}