/* Styles go here */
body {
  padding-top: 51px;
}

/* this is only to style the sidebar - you can make the sidebar look any way you want */
.sidebar {
  padding: 15px;
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
}

.lblSpace {
	margin-top: 15px;
}

.botonMenu {
	margin-bottom: 2px;
	
}